<head>
    <title>{{ page.title }} | UND ACM</title>

    <!-- Typical Meta Stuff -->
    <meta name="description" content="{{ page.desc }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="utf-8"/>

    <!-- Social Cards -->
    <meta name="og.description" content="{{ page.desc }}"/>
    <meta name="twitter.description" content="{{ page.desc }}"/>

    <!-- Styles -->
    <link rel="icon" type="image/x-icon" href="/assets/favicon.svg"/>
    <link rel="preload" type="text/css" href="/assets/style.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
