@import url(./uac/body.css);
@import url(./uac/footer.css);
@import url(./uac/header.css);

:root {
    /* Responsive vars */
    --header-height: 20rem;
    --header-logo-size: 16rem;
    --header-span-size: 24px;
    --header-h1-size: 48px;

    --body-width: 1024px;
    --body-padding: 3rem;
    --footer-height: 4rem;

    --fs-normal: 16px;
    --fs-display: 20px;

    @media only screen
    and (max-width: 1024px)
    {
        --header-height: 16rem;
        --header-logo-size: 12rem;
        --header-span-size: 18px;
        --header-h1-size: 36px;

        --body-width: calc(100vw - 1rem);
        --body-padding: 1rem;

        --fs-normal: 14px;
        --fs-display: 16px;
    }

    @media only screen
    and (max-width: 640px)
    {
        --header-height: 10rem;
        --header-logo-size: 7rem;
        --header-span-size: 12px;
        --header-h1-size: 22px;

        --body-width: calc(100vw - 1rem);
        --body-padding: 0.5rem;

        --fs-normal: 12px;
        --fs-display: 14px;
    }

    @media only screen
    and (max-width: 520px)
    {
        --header-height: 8rem;
        --header-logo-size: 6rem;
        --header-span-size: 9px;
        --header-h1-size: 14px;

        --body-width: calc(100vw - 1rem);

        --fs-normal: 11px;
        --fs-display: 13px;
    }
}