body {
    margin: 0;
    background-color: #313131;
    color: white;
    font-family: "IBM Plex Mono", monospace
}

#content {
    width: 100vw;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));

    main {
        max-width: var(--body-width);
        margin: 0 auto;
        padding: var(--body-padding);
    }

    hr {
        margin: 3rem auto;
        width: 32rem;
        height: 0;
        border: 0;
        max-width: 50vw;
        appearance: none;
        border-top: 2px solid #fff8;
    }

    table {
        font-size: var(--fs-normal);

        &.display {
            margin: 0 auto;
            font-size: var(--fs-display);

            > tbody > tr {
                td:first-child, th:first-child {
                    font-weight: 700;
                    text-transform: uppercase;
                    text-align: left;
                }

                td {
                    &:last-child {
                        padding-left: 2rem;
                        text-align: right;
                        text-transform: uppercase;
                    }
                }
            }
        }

        border-collapse: collapse;

        > thead {
            background-color: #fff1;
            text-transform: uppercase;
            text-align: left;

            th {
                padding: 0.5rem;
            }
        }

        > tbody > tr {
            td, th {
                padding: 0.5rem;
            }
        }

        > tbody > tr {
            background-color: #0003;

            &:nth-child(odd){
                background-color: #0005;
            }
        }
    }

    p.display {
        font-size: var(--fs-display);
        text-align: center;
    }

    > div {
        margin: 4rem 2rem;
    }

    a {
        color: gainsboro;
    }

    .w100{
        width: 100%;
    }

    .grid-2 {
        display: inline-grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;


        > .grid-item{
            grid-column: span 1;
            width: 100%;

            @media only screen
            and (max-width: 1024px){
                grid-column: span 2;
            }
        }
    }
}