name: Deploy Jekyll site to CPanel

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
        artifact_id: ${{ steps.upload.outputs.artifact_id }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Ruby
        uses: ruby/setup-ruby@4a9ddd6f338a97768b8006bf671dfbad383215f4
        with:
          ruby-version: '3.2'
          bundler-cache: true
          cache-version: 0
      - name: Build with Jekyll
        run: bundle exec jekyll build
        env:
          JEKYLL_ENV: production
      - name: Install NPM Packages
        run: npm install
      - name: Execute PostCSS
        run: |
          npx postcss \
              --use postcss-import \
              --use autoprefixer \
              --use postcss-nested \
              -o _site/assets/dist.css \
              _site/assets/style.css
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        id: upload

  # Deployment job
  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - name: Download artifact
      uses: actions/download-artifact@v4
      with:
        artifact-ids: ${{ needs.build.outputs.artifact_id }}
    - name: Extract artifact
      run: |
        mkdir _site;
        tar -xvf github-pages/artifact.tar -C _site
    - name: Sync files
      uses: SamKirkland/FTP-Deploy-Action@v4.3.5
      with:
        server: ${{ vars.CPANEL_FTP_HOST }}
        username: ${{ vars.CPANEL_FTP_USERNAME }}
        password: ${{ secrets.CPANEL_FTP_PASSWORD }}
        protocol: ftps
        local-dir: _site/
